.mid.listings{
    min-height: 300px;
    box-sizing: border-box;
    margin: 20px 78px;
    display: block;
}
@media only screen and (max-width: 768px){
    .mid.listings{
        margin: 20px 10%;
        font-size: 11pt!important;
    }

}

@media only screen and (max-width: 460px){
    .mid.listings{
        margin: 15px 5%;
    }

}