.serviceCategory{
    width: 320px;
    margin: 2px;
    padding: 5px;
    border-radius: 3px;
    background: #e9e9e9
}
.serviceCategory .close{
    color: #F79A50;
    font-size: 13px;
    cursor: pointer;
}
#edit{
    display: block;
    padding: 5px 10px;
}
.edit{
    padding: 3px;
    border-radius: 3px;
    display: inline-block;
    margin: 2px;
}
.save{
    padding: 3px;
    border-radius: 3px;
    display: inline-block;
    margin: 2px;
}
.enabled{
    background: #F79A50;
    cursor: pointer;
}
.disabled{
    background: #e9e9e9;
}