.absolute-150{
    display: block;
    position: relative;
    width: 100%;
    height: 180px;
}
.map{
    height: 470px;
}
.mid.contact{
    box-sizing: border-box;
    display: block;
}
.side-margin-90{
    margin: 0 90px;
}
.addresses{
    min-height: 400px;
    box-sizing: border-box;
    padding: 40px 50px;
    background-color: #F1F1F2;
    border-radius: 5px;
    width: 30%;
}
.addresses .header{
    color: #494949;
}
.addresses .address-dets{
    padding: 7px 0;
}
.addresses .address-dets .text{
    display: inline-block;
    padding: 0 5px;
}
.addresses .address-dets span{
    margin: 3px 0;
}
.addresses span{
    display: block;
}
@media only screen and (max-width: 600px){
    .addresses{
        display: block;
        width: 100%!important;
        height: 300px;
    } 
}