.App-header {
    box-sizing: border-box;
    margin: 0 60px;
    min-height: 150px;
    padding: 0 20px;
}
.App-header-loggedin{
    box-sizing: border-box;
    margin: 0 60px;
    min-height: 155px;
    padding: 0 20px;
}
.App-header .social-icons, .App-header-loggedin .social-icons{
    position: absolute;
    text-align: right;
    width: 20%;
    top: 7px;
    right: 250px;
}
.social-icons a:hover{
    text-decoration: none!important;
    border: none!important;
}
.Main-Menu{
    box-sizing: border-box;
    position: absolute;
    width: 102%;
    left: -9px;
    padding: 15px 90px 15px 90px;
    background: #e1e1e1;
    margin-top: 30px;
  }
.Main-Menu a {
    text-decoration: none;
    padding: 0;
    margin: 0 6px;
    color: #212121;
    cursor: pointer;
}
.Main-Menu a:hover {
    transition: 0.3s;
    border-bottom: 2px solid #ED2431;
}
.Mobile-Menu, .menu-icon{
    display: none;
}
.nav-button{
    text-align: left;
}
.signup-login{
    position: relative;
  }
.active{
    transition: 0.3s;
    border-bottom: 2px solid rgb(182, 24, 35);
}
.logout{
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  background-color: #F79A50;
  border-radius: 3px;
  padding: 3px 8px;
}
.logout .icon{
  float: left;
  height: 16px;
  width: 16px;
  padding: 0;
}
.btn-text{
  float: left;
  margin: 0;
  padding: 0;
}
@media only screen and (max-width: 836px){
    .App-header .social-icons{
        display: none;
    }
}
@media only screen and (max-width: 680px){
  .Main-Menu{
    display: none;
  }
  .Mobile-Menu{
    position: absolute;
    width: 100%;
    top: 35px;
    left:0;
    padding: 0 50px 50px;
    background: rgba(0, 0, 0, 0.755);
    z-index: 10000;
  }
  .signup-login{
    float:none;
    cursor: pointer;
  }
  .Mobile-Menu a, .signup-login a{
    display: block;
    padding: 10px 2px;
    text-decoration: none;
    color: #ffffff;
  }
  .Mobile-Menu a:hover, .signup-login a:hover{
    color: #ED2431;
  }
  .menu-icon{
    position: absolute; 
    display: block;
    top: 10px;
    left: 10px;
    font-size: 26px;
    cursor: pointer;
  }
  div.search{
    box-sizing: border-box;
    display: block;
    float:none;
  }
  .search input{
    box-sizing: border-box;
    min-width: 80%;
  }
}
@media only screen and (max-width: 625px){

}
@media only screen and (max-width: 590px){
  .search input{
    float: left;
    border: 0;
    background: #bbbbbb;
    color: #000;
    height: 25px;
    width: 150px;
  }
}
