.form.signup{
    width: 380px;
    margin: 40px auto;
    text-align: center;
    background: white;
    padding: 40px 80px;
    border: thin solid #F79A50;
    border-radius: 7px;
}
a {
    color: #F79A50;
}
.left{
    float: left;
}
.textfield{
    position: relative;
    margin: auto;
    width: 300px;
    border: thin solid #afafaf;
    border-radius: 3px;
    padding: 3px;
}
.signupButton{
    display: inline-block;
    width: 309px;
    margin: auto;
}
.hanad{
    width: 100%;
}
.white{
    color: white;
    background: white;
}
.inputRow{
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 10px auto;
}
.inputRow::after{
    clear: both;
    content: " ";
}
.signup .avatar{
    box-sizing: border-box;
    display: block;
    margin: auto;
    font-size: 5px;
    padding: 7px;
    color: #000000;
    background: none;
}
.error{
    border: thin solid #ED2431;
    background-color: #ffbbbf;
}
.tmcError{
    box-sizing: border-box;
    padding: 5px;
    display: inline-block;
    font-size: 13px;
    width: 300px;
    background: #ffbbbf;
    color: #ED2431;
}
