.form.signup{
    width: 380px;
    margin: 50px auto;
    text-align: center;
    background: white;
    padding: 40px 80px;
    border: thin solid #F79A50;
    border-radius: 7px;
}
a {
    color: #F79A50;
}
.left{
    float: left;
}
.textfield{
    box-sizing: border-box;
    position: relative;
    margin: auto;
    width: 300px;
    border: thin solid #afafaf;
    border-radius: 3px;
    padding: 3px;
}
.signupButton{
    box-sizing: border-box;
    display: inline-block;
    width: 300px;
    margin: auto;
    padding: 8px;
}
.hanad{
    width: 100%;
}
.white{
    color: white;
    background: white;
}
.inputRow{
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 10px auto;
}
.inputRow::after{
    clear: both;
    content: " ";
}
.signup .avatar{
    box-sizing: border-box;
    display: block;
    margin: auto;
    font-size: 5px;
    padding: 7px;
    color: #000000;
    background: none;
}
.error{
    border: thin solid #ED2431;
    background-color: #ffbbbf!important;
}
.error::placeholder{
    color: #bababa!important;
}
.error-feedback{
    box-sizing: border-box;
    padding: 5px;
    display: inline-block;
    font-size: 13px;
    width: 300px;
    background-color: #ffbbbf;
    color: #ED2431;
}
.inputRow .select{
    box-sizing: border-box;
    display: inline-block;
    text-align: left;
    width: 300px;
    background: url('~images/down_arrow.png') no-repeat right rgba(225, 225, 225, 0.6);
    background-size: 30px 10px;
    overflow: hidden;
    padding: 6px 10px;
    border: thin solid #afafaf;
    border-radius: 3px;
    cursor: pointer;
}
.pre-signup{
    position: relative; 
}
.pre-signup div{
    box-sizing: border-box;
    padding: 20px 0;
    display: inline-block;
    width: 50%;
    cursor: pointer;
}
.pre-signup #service-provider{
    color: #fff;
    background-color: #ED2431;
    box-shadow: -2px 0 2px rgb(172, 138, 109);
}
.pre-signup #service-provider:hover{
    box-shadow: -2px 1px 3px rgb(172, 138, 109);
}
.pre-signup #service-provider:active{
    box-shadow: -2px 0 2px rgb(172, 138, 109);
}
.pre-signup #owner-occupier{
    color: #fff;
    background-color: #F79A50;
    box-shadow: 2px 0 2px #c4989b;
}
.pre-signup #owner-occupier:hover{
    box-shadow: 2px 1px 4px #c4989b;
}
.pre-signup #owner-occupier:active{
    box-shadow: 2px 0 2px #c4989b;
}
.postSubmitError{
    display: inline-block;
    box-sizing: border-box;
    margin: 5px 0;
    padding: 5px;
    color: #ED2431;
    width: 300px;
    -webkit-transition: all 0.4 ease-in;
    -moz-transition: all 0.4 ease-in;
    transition: all 0.4 ease-in;
    border-radius: 3px;
}

.postSubmitMessage{
    display: inline-block;
    box-sizing: border-box;
    margin: 5px 0;
    padding: 5px;
    color: #4e714c;
    width: 300px;
    -webkit-transition: all 0.4 ease-in;
    -moz-transition: all 0.4 ease-in;
    transition: all 0.4 ease-in;
    border-radius: 3px;
}

.postSubmitMessage .icon {
    color: #4e714c;
}

.postSubmitError .icon {
    color: #ED2431;
}

.signup-progress{
    box-sizing: border-box;
    position: relative;
    display: block;
    width:40%;
    margin: 10px auto;
}

.middle-line{
    box-sizing: border-box;
    display: inline-block;
    height: 2px;
    margin-bottom: 5px;
    background-color: #F79A50;
    width: 44.5%;
}

.signup-progress .one, .signup-progress .two, .signup-progress .three{
    box-sizing: border-box;
    display: inline-block;
    width: 20px;
    text-align: center;
    height: 20px;
    border-radius: 50%;
    border: thin solid #F79A50;
    cursor: pointer;
}

.current{
    background-color: #F79A50;
    color: #fff;
}
@media only screen and (max-width: 1350px){
    .middle-line{
        width: 43%;
    }
}

@media only screen and (max-width: 1080px){
    .middle-line{
        width: 42%;
    }
}

@media only screen and (max-width: 950px){
    .middle-line{
        width: 40%;
    }
}