.form.signup{
    width: 380px;
    margin: 40px auto;
    text-align: center;
    background: white;
    padding: 40px 80px;
    border: thin solid #F79A50;
    border-radius: 7px;
}
a {
    color: #F79A50;
}
.left{
    float: left;
}
.textfield{
    box-sizing: border-box;
    position: relative;
    margin: auto;
    width: 300px;
    border: thin solid #afafaf;
    border-radius: 3px;
    padding: 3px;
}
.signupButton{
    box-sizing: border-box;
    display: inline-block;
    width: 300px;
    margin: auto;
    padding: 8px;
}
.hanad{
    width: 100%;
}
.white{
    color: white;
    background: white;
}
.inputRow{
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 10px auto;
}
.inputRow::after{
    clear: both;
    content: " ";
}
.signup .avatar{
    box-sizing: border-box;
    display: block;
    margin: auto;
    font-size: 5px;
    padding: 7px;
    color: #000000;
    background: none;
}
.error{
    border: thin solid #ED2431;
    background-color: #ffbbbf;
}
.error-feedback{
    box-sizing: border-box;
    padding: 5px;
    display: inline-block;
    font-size: 13px;
    width: 300px;
    background: #ffbbbf;
    color: #ED2431;
}
.inputRow .select{
    box-sizing: border-box;
    display: inline-block;
    text-align: left;
    width: 300px;
    background: url('~images/down_arrow.png') no-repeat 270px rgba(189, 189, 189, 0.6);
    background-size: 20px 10px;
    overflow: hidden;
    padding: 6px 10px;
    border: thin solid #afafaf;
    border-radius: 3px;
    cursor: pointer;
}
