.download-cert{
    padding: 4px;
    margin: 3px 0;
    font-size: 13px;
}
.uploadCert{
    margin: 5px 0!important;
    border: 1.5px dashed #ED2431!important;
    padding: 5px 10px!important;
    font-size: 13px;
    color: #bababa;
    cursor: pointer;
}
.certLoader{
    display: block;
    height: 25px;
    width: auto;
}