.listing-form-container{
    position: absolute;
    text-align: center;
    top: -10px;
    left:-20px;
    bottom:-30%;
    right: -20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10000;
}
.listing-form-container .header{
    display: block;
    text-align: left;
    padding: 10px;
    color: #000;
    font-weight: bold;
    border-bottom: 2px solid #F79A50; 
}
.listing-form-container #header-text{
    display: inline-block;
    margin: 20px 20px 0;
}
.listing-form-container #close{
    cursor: pointer;
    color: #F79A50;
}
.listing-form-subcontainer{
    display: inline-block;
    border-radius: 5px;
    width: 60%;
    height: auto;
    padding: 0;
    background-color: #fff;
}
.listing-form{
    margin: 10px 0 0 0;
}
.select{
    text-align: left;
}