.list-row{
    font-size: 13px;
}
.listedJobsDetails-container{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 10000000;
    background-color: rgba(0,0,0, 0.6);
    padding: 20px;
}

.listedJobsDetails-container .sub-container{
    padding: 10px;
    box-sizing: border-box;
    border: thin solid #acacac;
    background-color: #fff;
}

.listedJobsDetails-container .close {
    color: #F79A50;
    font-size: 10px;
    margin: 2px 5px;
    cursor: pointer;
}
.comment-container{
    padding: 5px;
    background-color: #dddddd;
    border-radius: 5px;
    margin: 5px 0;
}
.commenter, .comment{
    display: block;
    padding: 5px;
}
.listed-equip{
    display: block;
    margin:1px;
    padding: 5px 10px 5px 5px;
    background: #dddddd;
}