.textfield{
    box-sizing: border-box;
    position: relative;
    margin: auto;
    width: 300px;
    border: thin solid #afafaf;
    border-radius: 3px;
    padding: 3px;
}

#phoneNumber {
    background: url('~images/icons/phone.png') no-repeat left rgba(225, 225, 225, 0);
}

#mobileNumber {
    background: url('~images/icons/mobile.png') no-repeat left rgba(225, 225, 225, 0);
}

#phoneNumber, #mobileNumber{
    font-size: 15px;
    background-size: 23px 23px;
    padding: 10px 0 10px 33px;
    border: none;
}
#phoneNumber::placeholder, #mobileNumber::placeholder{
    color: #bababa;
}