.alt_links{
    position: relative;
    overflow: auto;
    float: right;
    padding:5px;
    margin-top: 20px;
}
.App-header-alt {
    margin: 0 60px;
    min-height: 150px;
    padding: 0 20px;
}
@media only screen and (max-width: 527px){
    .alt_links{
        float: none;
        padding:5px;
        margin-top: 20px;
    }
}