.dropDownMenu{
    position: absolute;
    padding: 4px 10px;
    border: 0px 1px 1px thin solid #bbbbbb;
    background-color: #d6d5d5;
    font-size: 12px;
    margin: 1px 0 0;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #9f9f9f;
    cursor: pointer;
    z-index: 1000;
}
.more-li{
    padding: 4px 2px;
}
.more-li:hover{
    color: #F79A50;
}