.main-content .half .heading{
    font-weight: 500;
    margin: 0 10px 10px 0;
}
.heading .bottom-border{
    display: inline-block;
    background: #f79a50!important;
    border: none;
    height: 1px;
    width:80%;
}
.main-content .half{
    box-sizing: border-box;
    padding:10px;
}
.information .textfield{
    box-sizing: border-box;
    position: relative;
    margin: auto;
    width: 330px;
    border: thin solid #ED2431;
    border-radius: 5px;
    padding: 2px 6px;
}
.inner-textfield{
    font-weight: thin;
}
#profile-phoneNumber, #profile-repMobileNumber, #profile-repPhoneNumber, #profile-mobileNumber{
    font-size: 15px;
    background-color: #F1F1F2;
    padding: 6px;
}
#profile-phoneNumber::placeholder, #profile-repMobileNumber::placeholder, #profile-repPhoneNumber::placeholder, #profile-mobileNumber::placeholder{
    color: #bababa;
}

.el{
    display: block;
    padding: 0 0 10px 0;
}
.information{
    text-align: left!important;
}
.information .select{
    border: thin solid #ED2431;
    border-radius: 5px;
    width: 300px;
}
.information .label{
    font-size: 13px;
    color: rgb(135, 135, 135);
    display: block;
    padding: 0 6px;
}