.tenders{
    position: relative;
}
.alt-search{
    position: relative;
    display: block;
    overflow: auto;
    float: right;
    padding:5px;
    margin: 0 5px 0 0;
    background: #fff;
    border:thin solid #fff;
    border-radius: 5px;
}
.alt-search input{
    float: left;
    border: 0;
    background: #fff;
    color: #000;
    height: 25px;
    width: 200px;
}
.alt-search .material-icons{
    float: right;
    color: #979797;
}
.title-bar{
    margin: 0;
    padding: 20px 20px 20px 20px;
    border-bottom: 2px solid #fff;
}
.title-bar span{
    display: inline-block;
    vertical-align: top;
}
.title-bar #title{
    font-weight: bold;
    vertical-align: bottom;
    width: 20%
}
.title-bar #search{
    width: 80%;
}
.success{
    box-sizing: border-box;
    padding: 5px;
    display: inline-block;
    font-size: 13px;
    width: 300px;
    background-color: #f3fcef;
    color: rgb(34, 140, 55);
}
.button-wrapper{
    float: right;
}
@media only screen and (max-width: 981px){
    .title-bar #title{
        float: none;
        display: block;
    }
    .title-bar #search{
        margin: 10px 0 0 0;
        width: 100%;
    }
    .alt-search {
        max-width: 59%;
        margin: 0 5px;
        float: none;
        position: relative;
        display: inline-block;
    }
    .alt-search input{
        width: 80%;
    }
    .button-wrapper{
        display: inline-block;
        margin:0 0 5px 0;
        float: none;
        max-width: 37%;
    }
}
@media only screen and (max-width: 550px){
    .alt-search input{
        width: 80%;
    }
}
@media only screen and (max-width: 521px){
    .alt-search{
        display: block;
       
        max-width: 100%;
        width: 100%;
    }
    .button-wrapper{
        display: block;
        max-width: 100%;
        width: 100%;
    }

}
@media only screen and (max-width: 381px){
    .alt-search input{
        width: 70%;
    }
}