.posted-tenders-overlay{
    position: absolute;
    text-align: center;
    top: -10px;
    left:-20px;
    bottom:-30%;
    right: -20px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.4);
    z-index: 10000;
}
.posted-tenders-overlay .header{
    display: block;
    text-align: left;
    padding: 10px;
    color: #000;
    font-weight: bold;
    border-bottom: 2px solid #F79A50; 
}
.posted-tenders-overlay #header-text{
    display: inline-block;
    margin: 20px 20px 0;
}
.posted-tenders-overlay #close{
    cursor: pointer;
    color: #F79A50;
}
.posted-tenders-overlay-sub{
    position: relative;
    display: inline-block;
    border-radius: 5px;
    text-align: left;
    margin-top: 5%;
    width: 60%;
    padding: 0;
    background-color: #fff;
}
.posted-tenders-overlay-sub .header{
    border: none;
}
.overlay-body{
    display: block;
    width: 100%;
    margin: 10px 0 0 0;
}
.tender-dits{
    display: block;
    padding: 10px;
    z-index: inherit;
    margin: 0 20px;
    padding: 10px 5px;
}
.tender-header{
    color: #F79A50;
    font-weight: bold;
    border-bottom: thin solid #afafaf;
    margin: 0 20px;
    padding: 15px 5px;
}