.side-bar{
    display: block;
    position: absolute;
    padding: 50px 0 50px;
    width: 250px;
    height: 600px;
    left: 90px;
    z-index: 0;
    text-align: center;
}
.side-bar.oo{
    background-color: #ed2431;
}
.side-bar.sp{
    background-color: #f79a50;
}
.left-menu{
    box-sizing: border-box;
    margin: 40px 0 0 0;
}
.left-menu span, .left-menu.oo span, .left-menu.sp span{
    box-sizing: border-box;
    display: block;
    cursor: pointer;
    margin-bottom: 1px;
    padding: 10px 0 10px 25%;
    text-align: left;
}
.left-menu.oo span{
    background-color: #f79a50;
    color: #fff;
}
.left-menu.oo .selected{
    background-color: #fff;
    color: #f79a50;
}
.left-menu.sp span{
    background-color: #ed2431;
    color: #fff;
}
.left-menu.sp .selected{
    background-color: #fff;
    color: #ed2431
}
#greeting, #email-address{
    display: block;
    margin: 0 0 0 5px;
    font-size: 14px;
    text-align: center;
    color: #fff;
}
.item{
    margin: 0 0 0 10px;
}