.selection-options{
    padding: 5px;
}
.options-selected{
    display: block;
}
.options-list{
    box-sizing: border-box;
    position: absolute;
    margin: 8px 0 0 -9px;
    padding:1px;
    width: 170px;
    border-radius: 5px;
    background-color: #F1F1F2;
    border: thin solid #979797;
    box-shadow: 2px 2px 5px #979797;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
.option{
    box-sizing: border-box;
    padding: 3px;
    display: block;
}
.option:hover{
    color: #fff;
    background-color: #979797;
    border-radius: 5px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
