.login{
    width: 340px;
    margin:40px auto;
}
.left{
    float: left;
}
.textfield{
    position: relative;
    margin: auto;
    width: 300px;
    border: thin solid #afafaf;
    border-radius: 3px;
    padding: 3px;
}
.login-button{
    width: 309px;
}
.hanad{
    width: 100%;
}
.white{
    color: white;
    background: white;
}
.inputRow{
    position: relative;
    display: block;
    width: 100%;
    margin: 10px 0;
}
.inputRow::after{
    clear: both;
    content: " ";
}
.login .avatar{
    box-sizing: border-box;
    display: block;
    margin: auto;
    font-size: 5px;
    padding: 7px;
    color: #000000;
    background: none;
}
