.hidden{
  display: none;
}
.App {
  text-align: center;
}
input{
  padding: 0 3px;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.not-found{
  margin: 20px;
  border: thin solid rgb(191, 191, 191);
  padding: 5px;
  text-align: center;
}
.wrapper{
  box-sizing: content-box;
  margin: 10px 10vw;
}
.toast{
  color: #08aadb;
  display: block;
  padding: 2px;
}
.menu{
  color: white;
  margin-top: 10px;
  font-weight: bold;
  cursor: pointer;
}
.menu-drawer{
  box-sizing: content-box;
  padding: 5px;
  margin: 5px;
}
.menu-drawer span{
  box-sizing: content-box;
  display: block;
  margin: 5px 2px;
  cursor: pointer;
}
.simple-button{
  margin: 2px 10px;
}
.nav-button{
  text-align: left;
}
.tab{
  background: #ffffff!important;
  color: #020202!important;
  border-bottom: 3px solid #bbbbbb!important;
  padding: 0 2px;
  overflow: hidden;
}
.tab:nth-child(2){
  border-left: 1px solid #bbbbbb!important;
  border-right: 1px solid #bbbbbb!important;
}
.data-header{
  box-sizing: border-box;
  display: flex;
  background: #212121;
  color: #fff;
  width: 100%;
  padding: 5px;
}
.data-header span{
  width: 20%;
  text-align: center;
}
.data-row{
  font-weight: thin;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  padding: 5px;
  margin-bottom: 2px;
  box-shadow:  rgba(0,0,0,0.2) 0px 2px 3px, inset rgba(0,0,0,0.2) 0px -1px 2px;
}
.data-row span{
  width: 20%;
  text-align: center;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
