.left{
    float: left;
}
.textfield{
    box-sizing: border-box;
    position: relative;
    margin: auto;
    width: 300px;
    border: thin solid #afafaf;
    border-radius: 3px;
    padding: 3px;
}
.login-button{
    box-sizing: border-box;
    display: inline-block;
    width: 300px;
    margin: auto;
    padding: 8px;
}
.white{
    color: white;
    background: white;
}
.form.login{
    position: relative;
    width: 380px;
    text-align: center;
    margin: 40px auto;
    padding: 40px 80px;
    border: thin solid #F79A50;
    border-radius: 5px;
}
.inputRow{
    position: relative;
    display: inline-block;
    text-align: left;
    width: 100%;
    margin: 10px 0;
}
.inputRow::after{
    clear: both;
    content: " ";
}
.login .avatar{
    box-sizing: border-box;
    display: block;
    margin: auto;
    font-size: 5px;
    padding: 7px;
    color: #000000;
    background: none;
}

@media only screen and (max-width: 550px){
    .form.login{
        width: 280px;
        padding: 40px 50px;
    }
    .login-button{
        width: 200px;
        padding: 4px;
    }
}

@media only screen and (max-width: 527px){
    .form.login{
        width: 250px;
        padding: 40px 30px;
        margin: 80px auto;
    }
    .login .textfield{
        box-sizing: border-box;
        position: relative;
        margin: auto;
        width: 200px;
        border: thin solid #afafaf;
        border-radius: 3px;
        padding: 3px;
    }
}

@media only screen and (max-width: 450px){
    .form.login{
        width: 250px;
        padding: 40px 30px;
        margin: 80px auto;
    }
}

@media only screen and (max-width: 372px){
    .form.login{
        margin: 100px auto;
    }
}



