.left{
    float: left;
}
.textfield{
    position: relative;
    margin: auto;
    width: 300px;
    border: thin solid #afafaf;
    border-radius: 3px;
    padding: 3px;
}
.login-button{
    width: 309px;
}
.white{
    color: white;
    background: white;
}
.form.login{
    width: 380px;
    background: white;
    text-align: center;
    margin: 40px auto;
    padding: 40px 80px;
    border: thin solid #F79A50;
    border-radius: 5px;
}
.inputRow{
    position: relative;
    display: inline-block;
    text-align: left;
    width: 100%;
    margin: 10px 0;
}
.inputRow::after{
    clear: both;
    content: " ";
}
.login .avatar{
    box-sizing: border-box;
    display: block;
    margin: auto;
    font-size: 5px;
    padding: 7px;
    color: #000000;
    background: none;
}