.user-page.mid{
    margin: 0 120px 0 350px;
    box-sizing: border-box;
    display: block;
    min-width:155px;
}
.content{
    display: block;
    width: 100%;
    margin: 20px 20px;
    min-height: 300px;
}
.content .main-content{
    display: block;
    background-color: #F1F1F2;
    border-radius: 5px;
    padding: 10px;
    height: 100%;
    width: 100%;
}
.content .tabs span{
    background-color: #b3b3b3;
    margin: 0 3px 0 0;
    color: #fff;
    padding: 5px 10px 3px;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
}
.content .tabs span.active{
    background-color: #F1F1F2;
    color: #2f2f2f;
    font-weight: 100;
    font-size: 18px;
    border-bottom: none;
}
@media only screen and (max-width: 800px){
    .user-page.mid{
        margin: 0 120px 0 180px;
        box-sizing: border-box;
        display: block;
    }
}
@media only screen and (max-width: 681px){
    .top{
        border-bottom: thin solid #d1d1d1;
    }
    .user-page.mid{
        margin: 0 70px 0 120px;
    }
}
@media only screen and (max-width: 331px){
    .user-page.mid{
        margin: 0 50px 0 100px;
    }
}