.mid.user-page{
    margin: 0 120px 0 350px;
    box-sizing: border-box;
    display: block;
}
.content{
    display: block;
    width: 100%;
    margin: 20px 20px;
    min-height: 300px;
}
.content .main-content{
    display: block;
    background-color: #F1F1F2;
    border-radius: 5px;
    padding: 10px;
    height: 100%;
    width: 100%;
}
.content .tabs span{
    background-color: #b3b3b3;
    margin: 0 3px 0 0;
    color: #fff;
    padding: 5px 10px 3px;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
}
.content .tabs span.active{
    background-color: #F1F1F2;
    color: #2f2f2f;
    font-weight: 100;
    font-size: 18px;
    border-bottom: none;
}